.wrapper {
    position: relative;
}

.yellow-lable {
    width: 285px;
    height: 40px;
    background-color: #FFED40;
    font-family: 'Kaspersky Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #1D1D1B;
    text-align: center;
    padding-top: 7px;
    position: absolute;
    top: 2.67px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-top: 0;

}