.sales-line__block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 922px;
    height: 156px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(29, 29, 27, 0.08);
    margin-top: 44px;
}

.sales-line__block-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 212px;
    margin-left: 12px;
}

.sales-line__logo__img {
    width: 57px;
    height: 62px;
}

.sales-line__title{
    margin-left: 12px;
    margin-top: 0px;
}

.sales-line__title .rating__title__text {
    width: 130px;
}

.sales-line__gray-line {
    width: 1px;
    height: 124px;
    background-color: #CCCCCC;
    border: none;
}

.sales-line__value {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.sales-line__fields__users {
    margin-left: 8px;
}

.sales-line__fields__title {
    font-family: 'Kaspersky Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #444444;
}

.select_value {
    margin-top: 9px;
}

.select_list {
    border: 1.5px solid #23D1AE;
    border-radius: 4px;
    font-family: 'Kaspersky Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    width: 97px;
    height: 48px;
    padding-left: 12px;
    cursor: pointer;
}

.sales-line__fields__users-amount {
    font-family: 'Kaspersky Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
    margin-top: 4px;
}

.sales-line__fields__years {
    margin-left: 12px;
}

.sales-line__prices {
    display: flex;
    flex-direction: column;
    max-height: 60px;
    position: relative;
}

.old-price {
    font-family: 'Kaspersky Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #1D1D1B;
    opacity: 0.6;
    margin-left: 83.5px;
    position: absolute;
    top: calc(50% - 24px/2 - 28px);
    left: -10px;
}

.sales-price {
    font-family: 'Kaspersky Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-left: 17.1px;
    min-width: 200px;
}

.sales-price__cents {
    font-size: 14px;
    line-height: 14px;
}

.sales-price__currency {
    font-family: 'Kaspersky Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #1D1D1B;
}

.sales-line__prices__cta {
    margin-left: 19px;
}

.red-btn {
    width: 202px;
    height: 64px;
    background: #FF3748;
    border-radius: 4px;
    font-family: 'Kaspersky Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    user-select: none;
}

.red-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.red-btn p {
    width: 138px;
    text-align: center;
    margin: auto;
}

.auto_renewal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.auto_renewal ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding-left: 0;
    margin-top: 17px;
}

.auto_renewal__check-box {
    width: 19.2px;
    height: 20px;
    user-select: none;
}

.auto_renewal p {
    font-family: 'Kaspersky Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #375050;
    padding-left: 9px;
}

.auto_renewal__question {
    height: 15.3px;
    width: 15.3px;
    user-select: none;
}

.auto_renewal__wrapper__question {
    padding-left: 8px;
}