.title {
    margin-top: 24px;
}

.title__block {
    font-family: 'Kaspersky Light';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: #1D1D1B;
    width: 565px;
    height: 96px;
}

.title__block span {
    font-family: 'Kaspersky Sans';
    font-weight: 700;
    letter-spacing: 0.2px;
}

.title__block p {
    margin: 0;
}

.title_line {
    margin-top: 24px;
    width: 55px;
    height: 1px;
    background-color: #AEAEAE;
    border: none;
}

.title__descr {
    margin-top: 4px;
    font-family: 'Kaspersky Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
}

.title__list {
    margin-top: 24px;
}

.title__list__block {
    list-style-type: none;
    padding-left: 0;
}

.title__list__block__element {
    display: flex;
    align-items:center;
}

.title__list__block__element+.title__list__block__element {
    padding-top: 8px;
}

.title__list__block__element i {
    color: #00A88E;
    padding-right: 8px;
    font-size: 18px;
}

.title__list__block__element p {
    font-family: 'Kaspersky Light';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #444444;
    padding-right: 8px;
}

.title__list__block__element p span {
    font-family: 'Kaspersky Sans';
    font-style: bold;
    font-weight: 400;
}

.title__systems {
    margin-top: 24px;
}

.title__systems__list {
    list-style: none;
    display: flex;
    padding-left: 0;
    font-family: 'Kaspersky Sans';
    font-style: bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
}

ul.title__systems__list li+li::before {
    padding: 0 8px;
    color: #AEAEAE;
    content: "|";
}